.venv*/
venv/
env/
.env/
.env.*
!.env.example
.envrc
.pypirc
build/
dist/
.idea/*
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/OMS_Server.xml
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.tox/
.nox/
.ruff_cache/
.mypy_cache/
.coverage*
htmlcov/
coverage.xml
.env
*.tfvars
!*.example.tfvars
**/.terraform/
*.tfstate*
*.tfplan
.DS_Store
part2-architecture-docs/infra/helm/**/charts/
